<header class="hp-hero-1 hp-spacing">
  <div class="container">
    <h1 class="hp-hero-1-title">Hello world</h1>
    <div class="hp-hero-1-body hp-user-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eum nesciunt officiis quas quia
        repellendus.</p>
    </div>
  </div>
</header>

<header class="hp-hero-1 hp-spacing">
  <img class="hp-hero-1-image" src="https://placehold.co/2000x1000" alt="dummy" loading="eager" decoding="async"
       width="2000" height="1000">
  <div class="container">
    <h1 class="hp-hero-1-title">Hello world</h1>
    <div class="hp-hero-1-body hp-user-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eum nesciunt officiis quas quia
        repellendus.</p>
    </div>
  </div>
</header>