<div class="hp-spacing">
  <div class="container">

    <!-- Component start -->
    <div class="hp-button-group">

      <!-- Primary button start -->
      <a href="javascript:void(0)" class="hp-button is-primary">
        Click here
      </a>
      <!-- Primary button end -->

      <!-- Outline button start -->
      <a href="javascript:void(0)" class="hp-button is-outline">
        Click here
      </a>
      <!-- Outline button end -->

    </div>
    <!-- Component end -->

  </div>
</div>